{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Base{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'imdb_info_local/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'imdb_info_local/main.js' %}" defer></script>
</head>
<body>
<header>
    <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="search" placeholder="Search" aria-label="Search">
    </form>
    <nav>
        <ul>
            <li><a href="{% url 'movie_list' %}">Movies</a></li>
            <li><a href="{% url 'tv_list' %}">TV</a></li>
            <li><a href="{% url 'movie_mtime' %}">Movies mtime</a></li>
            <li><a href="{% url 'tv_mtime' %}">TV mtime</a></li>
            <li><a href="{% url 'movie_ratings' %}">Movies Ratings</a></li>
            <li><a href="{% url 'tv_ratings' %}">TV Ratings</a></li>
        </ul>
    </nav>
</header>
<main>
    {% block content %}
    {% endblock content %}
</main>
</body>
</html>