{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title_type }}</title>
    <link rel="stylesheet" href="{% static 'imdb_info_local/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'imdb_info_local/main.js' %}" defer></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'movie_list' %}">Movies</a></li>
            <li><a href="{% url 'tv_list' %}">TV</a></li>
            <li><a href="{% url 'movie_mtime' %}">Movies mtime</a></li>
            <li><a href="{% url 'tv_mtime' %}">TV mtime</a></li>
        </ul>
    </nav>
</header>
    <h1>{{ title_type }} - {{ count }} Titles</h1>
    <ul class="title-list">{% for title in title_list %}
        <li>
        <div class="main-content"
             data-title="{{ title.title }}"
             data-video-type="{{ title.type }}"
             data-update-url="{% url 'title_update' %}"
        >
            <div class="title-rating">
                <p>{{ title.rating }} - {{ title.title }}</p>
            </div>
            <div class="blurb">
                <p>{{ title.blurb|safe }}</p>
            </div>
        </div>
        <div class="title-find-results hidden">
            All results from title search:
            {{ title.find_results|safe }}
        </div>

        </li>
        {% endfor %}
    </ul>
</body>
</html>